body, html {
  color: white;
  background-color: black;
}

.canvas-container {
	display: inline-block;
	vertical-align: bottom;
}

.canvas {
	display:inline-block;
	margin-left:32px;
	margin-bottom:32px;
  border: 1px solid white;
  background-color: white;
}

.canvas-zoom {
	display: block;
}

.canvas-zoomier {
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: bottom;
}


.swatch, .palette {
	user-select: none;
	border: 2px solid white;
}

.swatch {
	display:inline-block;
	margin-right: 5px;
	vertical-align: bottom;
}

.swatch-color-row {
	height: 32px;
	background-color: black;
}


.swatch-color {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.swatch-color.picked {
  width: 24px;
  height: 24px;
  margin: 4px;
}


.palette {
	display: inline-block;
	width: 160px;
	height: 180px;
	vertical-align: bottom;
}

.palette-color-block {
  height: 30px;
  width: 30px;
  float: left;
  overflow: hidden;
  margin: 5px;
}

.palette-color-row {
  height: 10px;
  width: 150px;
  float: left;
  overflow: hidden;
  margin: 5px;
}

.palette-color {
  width: 10px;
  height: 10px;
  border: 0;
  float: left;
  margin: 0;
  padding: 0;
}

.palette-color.picked {
  width: 5px;
  height: 5px;
  margin: 2.5px;
}

.metadata-settings {
	margin-top: 30px;
}

.metadata-label {
  width: 7em;
  display: inline-block;
}

.metadata-input {
	border: 0;
	color: white;
	background-color: #444444;
	padding-left: 1em;
	padding-right: 1em;
}

.metadata-input.title {
	width: 15em;
}

.metadata-input.name {
	width: 9em;
}

.metadata-input.id {
	margin-left: 1em;
	width: 3em;
}

.qr-code-container {
	margin-top: 30px;
}
